<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/images/padlockLogo.png" />

    <link rel="stylesheet" href="/stylesheets/signup.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="headerDiv">
      <img src="/images/userLogo.png" alt="logo" id="headerUserLogo" />
      <h1 id="headerText">Sign Up</h1>
    </div>

    <div id="mainLoginDiv">
      
        <form action="/submitsignup" method="post" id="loginForm">
            <input type="email" name="email" id="emailInputLogin" placeholder="Email" class="inputFields">
            <input type="password" name="password" id="passInputLogin" placeholder="Create Password" class="inputFields">
            <input type="password" name="ConfirmPassword" id="confirmPass" placeholder="Confirm Password" class="inputFields">
            <input type="submit" value="Create Account" id="submitButtonSignUp">
        </form>
    </div>

    <div id="signUpDiv">
        <p id="alreadyUserText">Already a User? <a href="/">Login</a> </p>
    </div>

    <%if(already_exists == true){%>
      <p class="notExistText">Account Already Exists!</p>
    <%} else if(passLen_error == true) {%>
      <p class="notExistText">Password must be atleast 8 characters</p>
      <%} else if(notconfirm_pass == true){%>
        <p class="notExistText">Passwords do not match</p>
        <%}%>
    
  </body>
</html>
